{% extends '::base.html.twig' %}
{% block title %}Company Settings{% endblock %}
{% block body %}
<div class="container-fluid" >
<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Save and Socialize</a>

        <div class="nav-collapse">
            <ul class="nav" style="font-weight:normal">
                <li><a href="#">New Product</a></li>
                <li><a href="#">Products Reviews</a></li>
                <li class="active"><a href="#">Settings</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row-fluid content"> 
        <div class="span3" >
            <ul class="nav nav-list" >
                <li><a href="{{path('site_personal_company_settings')}}"><h5>Personal Settings</h5></a></li>
                <li class="divider"></li>
                <li><a href="{{path('site_password_company_settings')}}"><h5>Change Password</h5></a></li>
            </ul>
        </div>
        <div class="span8" style="padding-left: 5px">
            {% if successMessage %}
                <div class="alert alert-success">
                    <b>Success</b><br>
                    Password edited successfully.
                </div>
                {% endif %}
                {% if wrongpasswd %}
                <div class="alert alert-error">
                    <b>Error</b><br>
                    Wrong password.
                </div>
                {% endif %}
                {% if diffpasswd %}
                <div class="alert alert-block">
                    <b>Warning</b><br>
                    Please confirm password (They are different).
                </div>
                {% endif %}
            <form action="{{path('site_password_company_settings')}}" method="post">
                 <h3>Change password:</h3><br>
                 {{ form_errors(form) }}

                {{ form_label(form.Old_password) }}
                {{ form_widget(form.Old_password) }}
                {{ form_errors(form.Old_password) }}

                {{ form_rest(form) }}
                    <br>
                <input type="submit" value="Change" class="btn btn-info"/>
            </form>
        </div>
    </div>
        </div>
{% endblock %}