<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}"  type="text/css">
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div style="padding-bottom: 10px"class="row-fluid">
        <span style="text-align: left" class="span3"><img src="{{asset('img/2.png')}}" width="300px" height="200px"></span>
        
        <div class="offset9">
            <div style="float: left;padding-right:10px">
            <p style="font-size: 20px;padding-top: 7px;text-align: right;">Welcome {{app.session.get('userName')}}  </p>  
            <a href="{{ path('user_signOut') }}" class="btn btn-warning"style="float: left;" >Log out</a>
            </div>
            
            <img src="/Save-alize/web/img/usersimgs/{% render url('site_default_getpicture') %}" width="100px" height="100px" >
                
        </div>
       </div>
        {% block body %}{% endblock %}

        
              <script src="{{asset('js/jquery.js')}}"></script>
                <script src="{{asset('js/jquery-ui.js')}}"></script>
              <script src="{{asset('js/jquery-ui-1.10.2.custom.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
    {% block javascripts %}{% endblock %}
            <nav class="navbar">
                
                <div class="navbar-inner">
                    <p class="navbar-text" style="color: wheat">     © Copyright  all Rights reserved to ITI</p>
                
            </div>
            </nav>
        </body>

        


</html>
