<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <script src="{{asset('js/jquery.js')}}"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}"  type="text/css">
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div style="text-align: right">
            <a href="{{ path('user_signOut') }}" class="btn" style="float: right;">Log out</a>
            <p style="font-size: 20px;padding-top: 7px;text-align: right">Welcome {{app.session.get('userName')}}  </p>  
 
            </div>
        {% block body %}{% endblock %}

        
              
                <script src="{{asset('js/jquery-ui.js')}}"></script>
              <script src="{{asset('js/jquery-ui-1.10.2.custom.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <script src="{{asset('js/reviewsPages.js')}}"></script>
    {% block javascripts %}{% endblock %}
        </body>

        


</html>
