{% extends '::base.html.twig' %}
{% block title %}Socialize - Cotact us{% endblock %}
{% block body %}
<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
            <a class="brand" ></a>

        <div class="nav-collapse">
            <ul class="nav" style="font-weight:normal;padding-left: 30px">
                <li class="active"><a href="{{ path('user_addProduct') }}">New Purchases</a> </li>
                <li><a href="#">My Alerts</a></li>
                <li><a href="{{ path('site_savalize_viewNotifications') }}">My Alerts</a></li>
                <li><a href="{{ path('user_addProduct') }}">History</a></li>
                <li><a href="#">Product Reviews</a></li>
                <li><a href="{{ path('site_savalize_displayDummyChart') }}">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{{ path('contact_us') }}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" >
    <div class="span12 content">
        <h2>Add New Product</h2>
        {% if sucess %}
        <div class="alert alert-success">
            product add succefully
        </div>
        {% endif %}
        <form action="{{ path('user_addProduct') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <div class="control-group">
    {{ form_errors(form) }}
      
    {{ form_label(form.Categories) }}
    {{ form_widget(form.Categories) }}
    {{ form_errors(form.Categories) }}

    {{ form_rest(form) }}
                    </div>
    <input type="submit" value="submit" class="btn btn-info"/>
            </form>
        </div>
    </div>
<script src="{{asset('js/jquery.js')}}"></script>
    <script>
        $(document).ready(function()
        {
            $.ajax
                    ({
                        type: 'POST',
                        url: '{{ url('user_getBrands')}}',
                        success: function(resp)
                        {
                            var allBrands = JSON.parse(resp);
                            var Prands=new Array()
                            for(var i=0;i<allBrands.length;i++)
                            {
                                Prands[i] = allBrands[i]; 
                            }
                            $('#form_Brand').autocomplete({source: Prands});
                        }
                    });
                    
            products=new Array();
            
            $("#form_Categories").on('change',function(){
                $.ajax
                    ({
                        type: 'POST',
                        url: '{{ url('user_getProducts')}}',
                        data:
                        {
                            catId: $("#form_Categories").val()
                        },
                        success: function(resp)
                        {
                            allBrands = JSON.parse(resp);
                            products=new Array()
                            for(var i=0;i<allBrands.length;i++)
                            {
                                products[i] = allBrands[i]; 
                            }
                            $('#form_Product').autocomplete({source: products});
                        }
                    });
            });
                $("#form_Categories").trigger('change');
        });
    </script>
{% endblock %}
