{% extends '::base.html.twig' %}

{% block title %}Socialize - Reports{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/fullcalendar.css')}}" rel="stylesheet" type="text/css">

{% endblock %}



{% block body %}

<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Save and Socialize</a>

        <div class="nav-collapse">
            <ul class="nav inline" style="font-weight:normal">
                <li><a href="#">New Purchases</a> </li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Product Reviews</a></li>
                <li class="active"><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" >
    <div class="span12 content">

        <h2>Reports</h2>
        <div style="float: left" class="row-fluid">
        <ul class="inline row-fluid" style = "font-size: 20px">
            <div class="span12">
                <li>
                Start Date: <input type="date">
                </li>
                <li>
            End Date: <input type="date">
            </li>
                <li>
            Chart: <select></select>
            </li>
            <li>
            Category: <input type="text"> 
            </li>
            <li>
            Brand: <input type="text">
            </li>
            <li>
            Product: <input type="text">
            </li>
            </div>
        </ul>
            </div>
          <input type="button" id="generateReport" value="Generate Report"/>
            <canvas id="myChart" width="400" height="400"></canvas>
        
          

{% endblock %}
{% block javascripts %}
            <script src="{{asset('js/fullcalendar.js')}}"></script>
            <script> var path = "{{ path('site_savalize_ajaxtoshowchart') }}" </script>
            <script src="{{asset('js/mira_chart.js')}}"></script>
            <script src="{{asset('js/Chart.js')}}"></script>
{% endblock %}
            
