{% extends '::base.html.twig' %}
{% block title %}Notifications{% endblock %}
{% block body %}

<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Save and Socialize</a>
        <div class="nav-collapse">
            <ul class="nav" style="font-weight:normal">
                <li><a href="{{ path('user_addProduct') }}">New Purchases</a> </li>
                <li class="active"><a href="{{ path('site_savalize_viewNotifications') }}">My Alerts</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Product Reviews</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{{ path('contact_us') }}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" >
    <div class="span12 content">
        <h2>Your Notifications</h2><br><br>
        
                    <div class="pagination pagination-centered">
                         {% if lastPageNumber > 1 %}
                <ul>
                    {% if page > 1 %}
                    <li><a href="{{ url('site_savalize_viewNotifications' , {'page': 1}) }}">First</a></li>
                    <li><a href="{{ url('site_savalize_viewNotifications', { 'page': page - 1}) }}">Prev</a></li>
                    {% endif %}

        {% for numberOfPage in 1..lastPageNumber %}
        {% if numberOfPage > page - 3 and numberOfPage < page + 3 %}<!-- display 3 numbers before page and three after page number -->
            {% if page == numberOfPage %}<li class="active"><a href="#">{{ numberOfPage }}</a></li>{% else %}<li><a href="{{ url('site_savalize_viewNotifications', {'page': numberOfPage}) }}">{{ numberOfPage }}</a></li>{%endif%}
        {% endif %}
        {% endfor %}

                    {% if page < lastPageNumber %}
                <li><a href="{{ url('site_savalize_viewNotifications', {'page': page + 1}) }}">Next</a></li>
                <li><a href="{{ url('site_savalize_viewNotifications', {'page': lastPageNumber}) }}">Last</a></li>                    
                    {% endif %}
                </ul>
                {% endif %}
                    </div>
    <table class="table">
        {% for notification in notifications %}
        {% if notification.seen == 0 %}<tr class="success" >{% else %}<tr>
        {% endif %}
            <td><a href="{{ url('show_new_product_details' , {'content': notification.content, 'releasedat': notification.releasedAt | date('Y-m-d') }) }}">{{ notification.title }}</a></td>
            <td>{{ notification.content }}</td>
            <td>{{ notification.releasedAt | date('Y-m-d') }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
</div>

    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
{% endblock %}
