{% extends '::base.html.twig' %}

{% block title %}Socialize - Reports{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/fullcalendar.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Save and Socialize</a>

        <div class="nav-collapse">
            <ul class="nav inline" style="font-weight:normal">
                <li><a href="#">New Purchases</a> </li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Product Reviews</a></li>
                <li class="active"><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" >
    <div class="span12 content">

        <h2>Reports</h2>
        <div style="float: left" class="row-fluid">
        <ul class="inline row-fluid" style = "font-size: 20px">

            <div class="span12">
                I would like a <select id="graphTypeSelect">
                <option value="Bar">--Type of Chart--</option>--Type of Chart--
                <option value="Line">Line</option>
                <option value="Bar">Bar</option>
                <option value="Pie">Pie</option>
                <option value="Doughnut">Doughnut</option>
                </select> from: <input type="date" id="startDate"> to: <input type="date" id="endDate">
               
            <input type="button" id="reportViaDatesOnly" value="Generate Report Via Dates Only" style="padding-right: 15%; padding-left: 15%; padding-top: 0.3%; padding-bottom: 0.3%"/>
             <br>To be more specific, I would like to search by <select id="filterSelect">
                <option>--Choose Filter(s)--</option>--Type of Chart--
                <option value="1">Category</option>
                <option value="2">Brand</option>
                <option value="3">Product</option>
                <option value="4">Brand and Product</option>
                <option value="5">Category,Brand and Product</option>
                </select>
             <div id="filters"></div>
            
            
            </div>
        </ul>
            </div>
          <input type="button" id="generateReport" value="Generate Report"/>

            <canvas id="myChart" width="400" height="400"></canvas>
        <input type="hidden" id="hiddenCategory" value="{{ categories }}"> 
        <input type="hidden" id="hiddenBrand" value="{{ brands }}">
        <input type="hidden" id="hiddenProduct" value="{{ products }}">
          
{% endblock %}

{% block javascripts %}
            <script src="{{asset('js/fullcalendar.js')}}"></script>
            <script> var dateCategorypath = "{{ path('user_chart_datesCategory') }}";
                var dateOnlypath = "{{ path('user_chart_datesOnly') }}";
                var dateProductpath = "{{ path('user_chart_datesProduct') }}";
                var dateBrandpath = "{{ path('user_chart_datesBrand') }}";
                var ProductBrandpath = "{{ path('user_chart_ProductBrand') }}";
                var CategoryBrandProductpath = "{{ path('user_chart_ProductBrandCategory') }}";
                </script>
            <script> var fromCategoryPath = "{{ path('user_report_fromCategory') }}" </script>
            <script src="{{asset('js/user_chart.js')}}"></script>
            <script src="{{asset('js/Chart.js')}}"></script>
{% endblock %}
            
