<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Up and Running with Bootstrap</title>
<link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{asset('css/main.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid" >
	<div class="navbar" >
  <div class="navbar-inner">
    <a class="brand" href="#">Save and Socialize</a>
    <ul class="nav pull-right">
   <form action="{{ path('user_signIn') }}" method="post" {{ form_enctype(SignInform) }} class="navbar-form form-inline">
        {{ form_widget(SignInform.User_Name) }}
        {{ form_widget(SignInform.Password) }}
           {{ form_rest(SignInform) }}
                            <input type="submit" value="Log in" class="btn">
                      
                    </form>
    </ul>
  </div>
</div>
<br>
	<div class="row-fluid">
    	<header class="span9">
            <p><strong>Save and Socialize</strong> Join over 500 hundred of the most creative and brilliant minds of art colleges all around the world for five days of lectures by world-renowned art scholars and artists.</p>
    	<ul class="thumbnails">
        	<li class="span4">
            	<article class="thumbnail">
                	<img src="{{asset('img/ferrar.jpg')}}" alt="Jonathan Ferrar."/>
                    <h3>Jonathan Ferrar</h3>
                    <p>Labeled as "The Artist to Watch in 2012" by the London Review, Jonathan Ferrar has already sold one of the highest priced-commissions on record paid to an art student.</p>
                </article>
            </li>        
            
            <li class="span4">
            	<article class="thumbnail">
                	<img src="{{asset('img/jerome.jpg')}}" alt="Jennifer Jerome." />
                    <h3>Jennifer Jerome</h3>
                    <p>A native of New Orleans, much of Jennifer Jerome's work has centered around abstract images that depict flooding and rebuilding, having grown up as a teenager in the post-flood years.</p>
                </article>
            </li> 
            
            <li class="span4">
            	<article class="thumbnail">
                	<img src="{{asset('img/larue.jpg')}}" alt="LaVonne LaRue." />
                    <h3>LaVonne LaRue</h3>
                    <p>LaVonne LaRue's giant-sized paintings all around Chicago tell the story of love, nature, and conservation - themes that are central to her heart.</p>
                </article>
            </li> 
            
        </ul>
        </header>     
    <div class="span3 form-signup">
       		<h2>Sign Up</h2>
                <form action="{{ path('user_signUp') }}" method="post" {{ form_enctype(signUpform) }} class="form-inline">
    
    <div class="control-group">
    {{ form_label(signUpform.User_Name) }}
    {{ form_widget(signUpform.User_Name) }}
    {{ form_errors(signUpform.User_Name) }}

    {{ form_rest(signUpform) }}
            
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Licence Agremment</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Accept</button>
  </div>
</div>
            </div>
                            <input href="#myModal" data-toggle="modal" role="button" value="Sign Up" class="btn btn-success btn-large">
                      
                    </form>
       </div> 
       </div>   
</div>
<script src="{{asset('js/jquery.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
</body>
</html>
